@model MotorMart.Web.Models.VehicleViewModel
@using MotorMart.Core.Common;

<div class="performance-container">
    <p><b>Urban fuel consumption: </b>@Model.CurrentVehicle.performance.urbanfuelconsumption</p>
    <p><b>Extra urban fuel consumption: </b>@Model.CurrentVehicle.performance.extraurbanfuelconsumption</p>
    <p><b>Urban fuel consumption: </b>@Model.CurrentVehicle.performance.urbanfuelconsumption</p>
    <p><b>Combined fuel consumption: </b>@Model.CurrentVehicle.performance.combinedfuelconsumption</p>
    <p><b>Acceleration: </b>@Model.CurrentVehicle.performance.acceleration</p>
    <p><b>Top speed: </b>@Model.CurrentVehicle.performance.topspeed</p>
    <p><b>Cylinders: </b>@Model.CurrentVehicle.performance.cylinders</p>
    <p><b>Valves: </b>@Model.CurrentVehicle.performance.valves</p>
    <p><b>Engine power: </b>@Model.CurrentVehicle.performance.enginepower</p>
    <p><b>Engine torque: </b>@Model.CurrentVehicle.performance.enginetorque</p>
</div>