@model MotorMart.Cms.Areas.Misc.Models.ApplicationSettingViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminSingleColumnLayout.cshtml";
}

@section SingleColumn
{
<div class="page-actions">
    <div class="fg-buttonset ui-helper-clearfix">
            @Html.AdminAddButton("Add new application setting", "applicationsetting", "add", new { @area = "misc" })
	</div>

    <div class="fg-buttonset ui-helper-clearfix">
        @Html.AdminDeleteButton("Delete Application setting", "applicationsetting", "delete", new { @area = "misc", @applicationsettingid = Model.CurrentApplicationSetting.applicationsettingid }, "btn-delete-applicationsetting", Model.CurrentApplicationSetting.applicationsettingid.ToString())
    </div>
</div>

@Html.ValidationSummary()
<div id="tabs" class="ui-tabs">	
	<ul>
		<li><a href="#tabs-1">Details</a></li>
	</ul>
	<div id="tabs-1" class="ui-tabs-hide">        
        @using (Html.BeginRouteForm("ApplicationSettingEdit", new { }, FormMethod.Post, new { }))
        {            
            <div class="form-section">
                
                <div class="form-section-row">
                    <div class="column">
                        @Html.LabelFor(model => model.edit.name)            
                        @Html.TextBoxFor(model => model.edit.name, new { @class = "name" })
                        @Html.ValidationMessageFor(model => model.edit.name)
                    </div>
                </div>

                <div class="form-section-row">
                    <div class="column">
                        @Html.LabelFor(model => model.edit.value)            
                        @Html.TextBoxFor(model => model.edit.value, new { @class = "name" })
                        @Html.ValidationMessageFor(model => model.edit.value)
                    </div>
                </div>
                
                <div class="form-section-row">
                    <div class="column">
                        @Html.HiddenFor(model => model.edit.applicationsettingid) 
                        @Html.AdminSubmitButton("Save")
                    </div>
                </div>
            </div>
        }
	</div>
</div>
}

