@model MotorMart.Cms.Areas.Misc.Models.DealerViewModel

@if (Model.delete.CurrentDealer != null)
{

<div id="dialog-delete" title="Delete '@Model.delete.CurrentDealer.name '?">
    @using (Html.BeginRouteForm("DealerDelete", new { @area = "misc", @dealerid = Model.delete.dealerid }, FormMethod.Post, new { }))
    {  
       @Html.AdminUIAlert("Warning", "You are about to delete '" + Model.delete.CurrentDealer.name + "'. This action can NOT be reversed.")       
        <div id="error-messages"></div>
        @Html.HiddenFor(model => model.delete.dealerid)
    } 
</div> 
}
else
{

<div id="dialog-cancel" title="Unable to delete '@Model.delete.CurrentDealer.name '">    
    @Html.AdminUIAlert("Unable to delete '" + Model.delete.CurrentDealer.name + "'.")
</div> 
}
